html{
  scroll-behavior: smooth;
}
header{
  width: 100%;
  height: 596px;
  background-color: #87509c;
  .cuda{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1140px;
    padding-top: 57px;
    .logo{
      margin-left: 61px;
    }
    .nav-menu{
      display: flex;
      margin-right: -5px;
      margin-top: -6px;
      }
      li {
        margin-right: 28px;
        a {
          font-family: titillium_webregular, sans-serif;
          font-size: 16px;
          line-height: 18px;
          font-weight: 400;
          text-transform: uppercase;
          color: #ffffff;
        }
        a:hover{
          height: 32px;
          background-color: #643a79;
          border-radius: 5px;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  .col-12{
    margin: 145px auto;

    p{
      font-family: titillium_webregular,sans-serif;
      font-size: 39px;
      line-height: 28px;
      font-weight: 700;
      color: #f7f3ea;
      letter-spacing: 1.9px;
      margin-left: -9px;
      text-align: center;
      margin-bottom: 33px;
      margin-top: -6px;
    }
    p:nth-child(2){
      margin-top: -12px;
      margin-left: 1px;
      letter-spacing: 2px;
    }
    .button{
      display: flex;
      justify-content: center;
      margin-top: 64px;
      a{
        font-family: titillium_webregular, sans-serif;
        font-size: 18px;
        line-height: 68px;
        font-weight: 600;
        letter-spacing: 0.6px;
        text-decoration: none;
        margin-left: 3px;
        padding: 0 80px;
        color: #ffffff;
        position: absolute;
      }
    }
  }
}
@media (max-device-width: 1151px) {
  header{
    .cuda{
      width: 100%;

    }
  }
}
@media(max-device-width: 832px){
  header{
    .cuda {
      .logo {
        margin-left: 12px;
      }
    }
    .col-12{
      margin: 70px auto;
      p{
        line-height: 38px;
      }
    }
  }
}
@media (max-device-width: 991px) {
  header{
    height: 100%;
    .col-12{
      margin: 0 auto;
      padding-bottom: 40px;
      p{
        margin-top: 34px;
      }
    }
    .button{
      padding-bottom: 40px;
    }
    .cuda{
      flex-direction: column;
      align-items: center;
      li{
        margin-right: 0;
      }
      .nav-menu {
        padding-top: 20px;
        margin-right: 1px;
        .navbar {
          padding: 0.5rem 3rem;
          justify-content: center;
        }

        .navbar-toggler.collapsed {
          padding: 0 90px;
        }

        .navbar-toggler {
          padding: 0 90px;
          justify-content: center;
        }

        .navbar-collapse {
          text-align: center;
        }
      }
      .logo{
        margin-left: 0;
      }
    }
  }
}

