@import "mixins";
.portfolio{
  width: 100%;
  height: 1423px;
  background-color: #ffdd99;
  .col-12{
    @include title;
    h1 {
      text-align: center;
      font-family: titillium_webregular, sans-serif;
      font-size: 37px;
      line-height: 28px;
      font-weight: bold;
      letter-spacing: 5.8px;
      margin-left: 7px;
      color: #3c4761;
      padding-top: 120px;
    }
    .line {
      display: flex;
      justify-content: center;
      margin-top: 13px;
      img {
        opacity: 0.14;
        margin-top: 3px;
      }
    }
    @include p;
  }
  .features{
    display: flex;
    width: 540px;
    margin: auto;
    justify-content: center;
    padding-top: 33px;
    a{
      font-family: titillium_webregular, sans-serif;
      font-size: 18px;
      line-height: 19px;
      font-weight: 400;
      letter-spacing: 0.02em;
      color: #393939;
      background-color: #ebcc8d;
      border-radius: 5px;
      padding: 7px 28px 8px;
    }
    a:hover{
      background-color: #ffffff;
    }
    .col-2:nth-child(1){
      a{
        margin-left: -24px;
      }
    }
    .col-2:nth-child(2){
      a{
        padding: 7px 23px 8px;
        margin-left: -18px;
      }
    }
    .col-2:nth-child(3){
      a{
        padding: 7px 23px 8px;
        margin-left: -14px;
      }
    }
    .col-2:nth-child(4){
      a{
        padding: 7px 20px 8px;
        margin-left: -5px;
      }
    }
  }
  .icon-wrapper-up{
    width: 1140px;
    display: flex;
    margin: auto;
    padding-top: 66px;
    .col-6{
      display: flex;
      flex-direction: column;
      align-content: center;
      span{
        font-family: titillium_webregular, sans-serif;
        font-size: 18px;
        line-height: 19px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        color: #393939;
      }
      h2{
        font-family: titillium_webregular, sans-serif;
        font-size: 18px;
        line-height: 19px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        text-align: center;
        color: #393939;
      }
    }
    .col-6:nth-child(1){
      img{
        margin-left: 5px;
        margin-top: 1px;
      }
      span{
        margin-top: 29px;
        margin-left: 15px;
      }
    }
    .col-6:nth-child(2){
      img{
        margin-left: -4px;
        margin-top: 4px;
      }
      span{
        margin-top: 26px;
        margin-right: 13px;
      }
    }
  }
  .icon-wrapper-down{
    width: 1140px;
    display: flex;
    margin: auto;
    padding-top: 60px;
    @include col-6-portfolio;
    .col-6:nth-child(1){
      img{
        margin-left: 7px;
        margin-top: 2px;
      }
      span{
        margin-top: 29px;
        margin-left: 15px;
      }
      span:last-child{
        margin-top: 28px;
        margin-left: -5px;
        letter-spacing: 0.43px;
      }
    }
    .col-6:nth-child(2){
      img{
        margin-left: -3px;
        margin-top: 3px;
      }
      span{
        margin-top: 26px;
        margin-right: 13px;
      }
      span:last-child{
        margin-top: 27px;
        margin-right: -7px;
      }
    }
  }
  .button{
    display: flex;
    justify-content: center;
    margin-top: 81px;
    margin-left: 1px;
    a{
      font-family: titillium_webregular, sans-serif;
      font-size: 18px;
      line-height: 68px;
      font-weight: 600;
      letter-spacing: 0.3px;
      padding: 0 56px;
      margin-left: 4px;
      color: #ffffff;
      text-decoration: none;
      position: absolute;
    }
  }
}
@media (max-device-width: 1151px) {
  .portfolio {
    height: 100%;
    padding-bottom: 70px;
    .features{
      width: 100%;
      .col-2{
        text-align: center;
      }
      .col-2:nth-child(1){
        a{
          margin-left: 0;
        }
      }
      .col-2:nth-child(2){
        a{
          margin-left: 0;
        }
      }
      .col-2:nth-child(3){
        a{
          margin-left: 0;
        }
      }
      .col-2:nth-child(4){
        a{
          margin-left: 0;
        }
      }
    }
    .icon-wrapper-up{
      width: 100%;
      .col-6:nth-child(1){
        img{
          width: 100%;
          height: 100%;
        }
      }
      .col-6:nth-child(2){
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .icon-wrapper-down{
      width: 100%;
      .col-6:nth-child(1){
        img{
          width: 100%;
          height: 100%;
        }
      }
      .col-6:nth-child(2){
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
@media (max-device-width: 663px){
  .portfolio{
    .icon-wrapper-up{
      flex-direction: column;
      align-items: center;
      .col-6:nth-child(1){
        img{
          margin-left: 0;
        }
        span{
          margin-left: 0;
        }
      }
      .col-6:nth-child(2){
        margin-top: 60px;
        img{
          margin-left: 0;
        }
        span{
          margin-right: 0;
        }
      }
    }
    .icon-wrapper-down{
      flex-direction: column;
      align-items: center;
      .col-6:nth-child(1){
        img{
          margin-left: 0;
        }
      }
      .col-6:nth-child(2){
        margin-top: 60px;
        img{
          margin-left: 0;
        }
      }
    }
  }
}
@media (max-device-width: 480px){
  .portfolio {
    .features {
      .col-2 {
      }

      .col-2:nth-child(1) {
        a {
          padding: 4px;
          margin-left: -35px;
        }
      }

      .col-2:nth-child(2) {
        a {
          padding: 4px;
          margin-left: -21px;
        }
      }

      .col-2:nth-child(3) {
        a {
          padding: 4px;
          margin-left: -11px;
        }
      }

      .col-2:nth-child(4) {
        a {
          padding: 4px;
        }
      }
    }
  }
}
@media (max-device-width: 374px) {
  .portfolio{
    .col-12{
      h1{
        line-height: 38px;
      }
    }
  }
}