header{
  width: 100%;
  height: 596px;
  background-color: #87509c;
  .cuda{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1140px;
    padding-top: 57px;
    .logo{
      margin-left: 61px;
    }
    .nav-menu{
      display: flex;
      margin-right: -4px;
      margin-top: -6px;
      li {
        margin-right: 28px;
        a {
          font-family: titillium_webregular, sans-serif;
          font-size: 16px;
          line-height: 18px;
          font-weight: 400;
          text-transform: uppercase;
          color: #ffffff;
        }
        a:hover{
          height: 32px;
          background-color: #643a79;
          border-radius: 5px;
          text-decoration: none;
        }
      }
    }
  }
  .col-12{
    margin: 145px auto;

    p{
      font-family: titillium_webregular,sans-serif;
      font-size: 39px;
      line-height: 28px;
      font-weight: 700;
      color: #f7f3ea;
      letter-spacing: 1.9px;
      margin-left: -9px;
      text-align: center;
      margin-bottom: 33px;
      margin-top: -6px;
    }
    p:nth-child(2){
      margin-top: -12px;
      margin-left: 1px;
      letter-spacing: 2px;
    }
    .button{
      display: flex;
      justify-content: center;
      margin-top: 64px;
      a{
        font-family: titillium_webregular, sans-serif;
        font-size: 18px;
        line-height: 68px;
        font-weight: 600;
        letter-spacing: 0.6px;
        margin-left: 3px;
        color: #ffffff;
        position: absolute;
      }
    }
  }
}

