@import "header";
@import "services";
@import "team";
@font-face {
  font-family: 'titilium';
  src: url('/fonts/TitilliumWeb-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

